.play-container{
    padding: 3em;
    border: 2px solid lightgray;
    margin-bottom: 3em;

    h2{
        margin: 0;
    }

    button{
        background: lightblue;
        &:hover{
            background: rgb(97, 143, 180);
        }
    }

    input{
        margin-top: 1em;
    }
}
